@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #212529;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #f8f9fa;
}

body h2 {
  margin: 10px auto;
  max-width: 40vw;
}

.app {
  margin: 20px 10px;
}

.uncompleted-tasks {
  margin: 100px 0px;
}

.general-tasks,
.overdue-tasks,
.future-tasks,
.daily-tasks {
  margin: 50px 0px;
}

.todo-item,
.create-todo {
  margin: auto;
  max-width: 40vw;
  height: 50px;
  border-bottom: #ced4da solid 1px;
}

.create-todo {
  display: flex;
}

.clear-icon {
  padding: 5px;
  margin: auto 10px auto auto;
  cursor: pointer;
}

.task-input {
  height: 45px;
  border: none;
  color: #6c757d;
  background-color: #212529;
  font-size: medium;
  width: 60%;
}

.normal-todo {
  display: flex;
}

.normal-todo-left-content {
  display: flex;
  width: 90%;
}

.normal-todo-right-content {
  display: flex;
  width: 10%;
}

.save-todo-button,
.cancel-todo-button {
  padding: 5px 8px;
  border: #212529 solid 1px;
  border-radius: 5px;
  background-color: #42a5f5;
  color: white;
  font-size: large;
  margin: auto 5px;
  cursor: pointer;
}

.edit-todo {
  margin: auto;
  display: flex;
}

.cancel-todo-button {
  background-color: #343a40;
}

.todo-add {
  margin: auto 4% auto 4.5%;
  padding: 5px;
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
}

.todo-complete,
.todo-delete,
.todo-edit {
  margin: auto 5%;
  padding: 5px;
  cursor: pointer;
}

.create-todo-calendar-and-clear {
  display: flex;
}

.create-todo-show-calendar {
  margin: auto 10px auto auto;
  padding: 5px;
  cursor: pointer;
}

.edit-todo-empty-space {
  margin: auto 5.25%;
  padding: 5px;
}

.todo-complete:hover,
.todo-delete:hover,
.todo-edit:hover,
.todo-add:hover,
.create-todo-show-calendar:hover {
  background-color: #6c757d;
  border-radius: 5px;
}
